* {
  box-sizing: border-box;
}

:root {
  --background: black;
  --font-color: #f8f8f1;
  --font-size-h1: 18px;
  --font-size-h2: 16px;
  --font-size: 13px;
  --invert-bg: 100%;
 }


@media only screen and (max-width: 600px) {

  :root {
    --background: black;
    --font-color: #f8f8f1;
    --font-size-h1: 14px;
    --font-size-h2: 13px;
    --font-size: 11px;
    --invert-bg: 100%;
   }
  
}


html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

body {
  color: var(--font-color);
  user-select: none;
  font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas,
  "Courier New", monospace;
}

.background {
  background-color: var(--font-color);
  width: 100%;
  height: 100%;
}

.entrar {
  background-color: var(--font-color) !important;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 16px;
  cursor: pointer;
  letter-spacing: 1em;
  font-family: "Courier New", Courier, monospace;
}
#fly {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.99);
}
.entrar:hover {
  filter: invert(90%);
}

.about-wishes{
  text-align: center;
  overflow-wrap: break-word;
}


.layer-content {
  padding: 1em;
  text-align: center;
  background-color: var(--background);
  color:var(--font-color);
  display: block;
  width: max-content;
  font-family: cursive;
  border: 1px solid  var(--font-color);
  box-shadow: 0 0 .5em #ffcaed;
}