
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-size: cover, contain;
  background-repeat: no-repeat, no-repeat;
  background-image: url("/public/UI/Background.jpg");
  background-blend-mode: lighten;
  background-position: center center, center center;
  background-attachment: fixed,fixed;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  resize: both;
  filter: grayscale(var(--invert-bg));

}

@media only screen and (max-width: 600px) {
  .loading {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      background-size: cover, contain;
      background-repeat: no-repeat, no-repeat;
      background-image: url("/public/UI/Background.jpg");
      background-position: center center, center center;
      background-attachment: fixed,fixed;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      resize: both;
      filter: grayscale(var(--invert-bg));

  }
  
}

.loading-text-container {
  width: 40%;
  height: 4px;
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .loading-bar {
    display: flex;
    height: 5px;
    background: rgba(250, 248, 248,255);
    border-radius: 1px;
  }

  @media only screen and (max-width: 600px) {
    .loading-text-container {
    top: 87%;
    }
  }
  